flow1.json
[
    {
        "id": "1ca872de87b18c73",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "73e0bdccc2698b72",
        "type": "mqtt in",
        "z": "1ca872de87b18c73",
        "name": "",
        "topic": "BCDS/XDK/single/20:19:AB:F4:04:4D/out/stream",
        "qos": "1",
        "datatype": "json",
        "broker": "f845d17567b09a32",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "8f81a6880e465c74",
                "d6f370a2e1f813d5"
            ]
        ]
    },
    {
        "id": "8f81a6880e465c74",
        "type": "function",
        "z": "1ca872de87b18c73",
        "name": "",
        "func": "p=msg.payload;\nvar msg1={payload:p.data.temp.value*0.001}\nvar msg2={payload:p.data.humidity.value}\nvar msg3={payload:p.data.pressure.value}\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "1fd30933b1a04764",
                "58b3b2a10c711f7d",
                "4a03fdefbef951ab"
            ],
            [
                "6b9b457747176cc7",
                "49c0ca45b80afffc",
                "d6ac9e3f21a5fc7a"
            ],
            [
                "335e373f1fdce43e",
                "edd7d47fc67c2645",
                "5198404713acd4b2"
            ]
        ]
    },
    {
        "id": "1fd30933b1a04764",
        "type": "ui_text_input",
        "z": "1ca872de87b18c73",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3901d962ef3470fa",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 780,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6b9b457747176cc7",
        "type": "ui_text_input",
        "z": "1ca872de87b18c73",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3eb39be65f3dba94",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 780,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "335e373f1fdce43e",
        "type": "ui_text_input",
        "z": "1ca872de87b18c73",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "d32a2f9fc1f50838",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 760,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "58b3b2a10c711f7d",
        "type": "ui_gauge",
        "z": "1ca872de87b18c73",
        "name": "",
        "group": "3901d962ef3470fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e69d00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "4a03fdefbef951ab",
        "type": "ui_chart",
        "z": "1ca872de87b18c73",
        "name": "",
        "group": "3901d962ef3470fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "49c0ca45b80afffc",
        "type": "ui_gauge",
        "z": "1ca872de87b18c73",
        "name": "",
        "group": "3eb39be65f3dba94",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e69d00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "d6ac9e3f21a5fc7a",
        "type": "ui_chart",
        "z": "1ca872de87b18c73",
        "name": "",
        "group": "3eb39be65f3dba94",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "edd7d47fc67c2645",
        "type": "ui_gauge",
        "z": "1ca872de87b18c73",
        "name": "",
        "group": "d32a2f9fc1f50838",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "Pascal",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e69d00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "5198404713acd4b2",
        "type": "ui_chart",
        "z": "1ca872de87b18c73",
        "name": "",
        "group": "d32a2f9fc1f50838",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d6f370a2e1f813d5",
        "type": "function",
        "z": "1ca872de87b18c73",
        "name": "",
        "func": "return [{payload:msg.payload.data.temp.value*0.001},{payload:msg.payload.data.humidity.value},{payload:msg.payload.data.pressure.value}];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 760,
        "wires": [
            [
                "627d0e2bc8c8a113"
            ],
            [
                "627d0e2bc8c8a113"
            ],
            [
                "627d0e2bc8c8a113"
            ]
        ]
    },
    {
        "id": "627d0e2bc8c8a113",
        "type": "debug",
        "z": "1ca872de87b18c73",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "f845d17567b09a32",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3901d962ef3470fa",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "0fb6965c542adf18",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3eb39be65f3dba94",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "0fb6965c542adf18",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d32a2f9fc1f50838",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "0fb6965c542adf18",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fb6965c542adf18",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]